<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/loginForm.css">
  <link rel="stylesheet" href="./css/layers1.css">
  <link rel="stylesheet" href="./css/fluidTransitionAdmin.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Login</title>
</head>
<body>
<header>
  <div class="row">
    <div class="col-2">
      <video width="640" height="480" loop autoplay muted class="">
        <source src="img/vmi9h-l9ojp.webm" type="video/webm">
      </video>
    </div>
    <div class="col-10">
      <nav>
        <ul>
          <li>
            <div class="row justify-content-center logoff  ">
              <div class="row justify-content-center align-items-center">
              </div>
              <div class="visiLayer">
                <div class="pirmasL"></div>
                <div class="antrasL">
                  <video width="200" height="50" loop autoplay muted>
                    <source src="img/huxep-v1ihm.webm" type="video/webm">
                  </video>
                </div>
                <a href="href="index.php?logout=true"" >LOG/OFF</a>
              </div>
            </div>
          </li>
          <li class="moveRight">
            <div class="row justify-content-center personsa  ">
              <div class="row justify-content-center align-items-center">
              </div>
              <div class="visiLayer">
                <div class="antrasL moveRight">
                  <video width="200" height="50" loop autoplay muted>
                    <source src="img/huxep-v1ihm.webm" type="video/webm">
                  </video>
                  <a href="http://localhost/persons" >PERSONS</a>
                </div>
              </div>
            </div>
          </li>
          <li class="moveRight">
            <div class="row justify-content-center   ">
              <div class="row justify-content-center align-items-center">
              </div>
              <div class="visiLayer">
                <a href="/" ></a>
                <div class="antrasL ">
                  <video width="200" height="50" loop autoplay muted>
                    <source src="img/huxep-v1ihm.webm" type="video/webm">
                  </video>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{{content}}
<script>
  $(".logosStrandoriginal").addClass("animate-resize");

</script>
<footer>
  <div class="raudonas  ">
    <img src="img/unbounce_logo.png" alt="logoname" width="119px" height="25px">
    <p>DONATO GELUMBAUSKO PROJECT</p>
  </div>

</footer>

</body>
</html>

